.toggleAuthModeButton {
    margin: 0;
    padding: 0;
    background: transparent;
    outline: none !important;
    color: blue;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
}


