.main{
    flex: 1 0 auto;
    display: flex;

}
.main_left{
    width: 50%;
    border-width: 1px;
    border-style: none solid none none;
    border-color: white;
}
.main_right{
    width: 50%;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main_button{
    border: 1px solid white;
    min-height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10%;
    flex-direction: column;
}



